.header {
  height: 87px;
}

.header nav {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .24);
}

@media screen and (max-width: 991px) {
  .add-location {
    margin: 15px 0;
  }
}

.primary {
  background-color: #1CABE2;
}

.nav-item {
  text-transform: uppercase;
}
