.disclaimer {
  background-color: #3b3d40;
  color: white;
  padding: 10%;
  text-align: center;
}

.disclaimer>h5 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 1rem;
  margin-bottom: 50px;
}


.disclaimer>p,
.contact>p {
  font-size: 1.4rem;
}

.contact {
  background-color: white;
  color: black;
  padding: 10%;
  text-align: center;
  width: 100%;
}

.contact img {
  margin-bottom: 30px;
  width: 50%;
}

.footer {
  height: 80px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer>nav {
  text-align: center;
}

footer>nav>span>a {
  color: white !important;
}
