* {
  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
  width: 100% !important;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
